* {
   
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px; 
  
  
}

main {max-width: 1400px;
  width: 100%;  
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  } 

section{
  max-width: 1400px;  
  padding: 0 100px 0 100px;
}

html,
body {
  height: 100%;
  color: #000000; 
}

.titleBoss {margin-top: 100px; 
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
  text-align: center;  
}

h1.titleBoss:after {
  content:   ''; /* Добавляемый текст */ 
  background-color: #E72424; /* Цвет фона */ 
  width: 64px;
  height: 2px;
  margin-top: 63px;
  margin-left: -243px;      
  position: absolute;  
  }
  
.subtitle{
  margin-top: 57px;  
  color: #86878B; 
  text-align: center;
  line-height: 19.07px;
  }


                                                  /* карточки */
.tiles-wrapper{
  display: flex;
  justify-content: space-around;
  text-align: center;

}
.tile_container{
  margin-top: 67px;
  width: 350px;
  height: 225px; 
   
}
.tile_image {
  border: 3px solid #E72424;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
}  

.icon{
  margin-top: 30%;
}
.tile_description{
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  margin-top: 30px;
}

.signature{
  margin-top: 16px;  
  text-align: center;
  line-height: 19.07px;
}
.container{
  margin-bottom: 108px;
}

   
                          /* <section class="titleThree"> */
.titleThree{
  position: relative;
}
                          
.backgraund{   
  background-image: url(PICTERS/town.png);
  width: 1400px;
  height: 326px;
  top: 0px;
  left: 0px;      
  position: absolute;
}
  
.up{
  position: absolute;
  color: #ffffff;
  z-index: 1;
}
h2.titleBoss{
  top: -28px;
  left: 497px;
}
h2.titleBoss:after {
  content:   ''; 
  background-color:  #ffffff; 
  width: 64px;
  height: 2px;
  margin-top: 88px;
  margin-left: -243px;      
  position: absolute;
}
.titleUp{
  top: 177px;
  left: 355px;

  font-style: normal;
  color: rgb(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  vertical-align: top;  
}
button.downloadButton{
  width: 135px;
  height: 42px;
  top: 250px;
  left: 632px;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 15px;
  font-weight: 600;
}
div.backgraund:after {
  content:   ''; 
  background-color:  rgba(0, 0, 0, 0.65);
  width: 1400px;
  height: 326px;
  top: 0px;
  left: 0px;      
  position: absolute;
}
                                /* FOOTER */
footer{
  background-color: #000000;
  position: relative;
  height: 101px;
  top: 326px;    
  width: 100%;  
  margin: 0 auto;
  max-width: 1400px;
}
.futerPanel{
  position: absolute;
  width: 317px;
  height: 23px;
  left: 541px;
  top: 30px;
}

.footerText{
  position: absolute;
  font-style: normal;
  color: rgb(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  vertical-align: top;
  margin-top: 70px;
  margin-left: 635px;
}
